<div class="col-md-4 col-lg-3 mb-4">
    <div class="card">
        <div class="card-header bg-warning text-center">
            <h2>{{pName}}</h2>
        </div>
        <img src="/images/{{imgID}}" alt="blackwatch" class="card-img-top ">
        <div class="card-body">                  
            <h4 class="card-text text-center"> &#8377;{{pPrice}}</h4>
            <div class="text-center m-2">
                <a href="/user/cart/add/{{pID}}" class="btn btn-outline-success m-2">Add</a>
                <a href="/user/products/{{pID}}" class="btn btn-warning m-2">Deatils</a>
            </div>
        </div>
    </div>
</div>