<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="container mt-5">
        <div class="container pb-3">
            <h1 class="text-center">Listed Products</h1>
        </div>
        <div class="row">
            <!-- product card 1-->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-bg-primary text-center pt-3 pb-3">
                        <h2>Kurta</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h3>In stock: 39</h3>
                        </div>
                        <div class="text-center m-2">
                            <a href="#" class="btn btn-outline-success m-2">Add</a>
                            <a href="/products/1694916057574" class="btn btn-warning m-2">Deatils</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-bg-primary text-center pt-3 pb-3">
                        <h2>Table</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h3>In stock: 241</h3>
                        </div>
                        <div class="text-center m-2">
                            <a href="#" class="btn btn-outline-success m-2">Add</a>
                            <a href="/products/1694916094950" class="btn btn-warning m-2">Deatils</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-bg-primary text-center pt-3 pb-3">
                        <h2>MacBook</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h3>In stock: 39</h3>
                        </div>
                        <div class="text-center m-2">
                            <a href="#" class="btn btn-outline-success m-2">Add</a>
                            <a href="/products/1694916293645" class="btn btn-warning m-2">Deatils</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-bg-primary text-center pt-3 pb-3">
                        <h2>Samsung phone </h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h3>In stock: 154</h3>
                        </div>
                        <div class="text-center m-2">
                            <a href="#" class="btn btn-outline-success m-2">Add</a>
                            <a href="/products/1694916352586" class="btn btn-warning m-2">Deatils</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-bg-primary text-center pt-3 pb-3">
                        <h2>Helmet</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h3>In stock: 98</h3>
                        </div>
                        <div class="text-center m-2">
                            <a href="#" class="btn btn-outline-success m-2">Add</a>
                            <a href="/products/1694916380178" class="btn btn-warning m-2">Deatils</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="product-card-placeholder"></div>
            <!-- Add more product cards as needed -->

        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js links (for Bootstrap components) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>